/** Main Skeleton **/

ul {
    list-style-type: none;
    background-color: #3366CC;
    padding: 0; 
    margin:0;
    overflow:visible;
    display: block;
}
	
li {
    float: left;
}

li a {
    color:#FFFFFF;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover {
	color:orange;
}


